/* import poppins font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: steelblue;
    min-height: 100vh;
}

.wrapper{
    max-width: 400px;
    border-radius: 20px;
    background: rgba(240, 236, 236, 0.796);
    padding: 30px 25px 40px;
}

.wrapper :where(textarea, input, select, button){
    width: 100%;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}

.wrapper textarea{
    height: 270px;
    border: 1px solid #f8f7f6;
    padding: 10px 10px;
    resize: none;
}

.wrapper .file-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.file-options .option{
    width: calc(100% / 2 - 8px);
    }

.option :where(input, .select-menu){
height: 50px;
padding: 0px 15px;
border: 1px solid #dfe3d9;
margin-top: 6px;
border-radius: 5px;
}

.select-menu select{
    height: 50px;
    background: none;
}

.wrapper .save-btn{
    margin-top: 20px;
    padding: 16px 0px;
    background-color: steelblue;
    cursor: pointer;
    opacity: 0.6;
    color: aliceblue;
    pointer-events: none;
}

.wrapper textarea:valid ~ .save-btn{
    opacity: 1;
    pointer-events: auto;
}














